[Desktop Entry]
Terminal=false
Type=Application
Name=Euro News Skill
Exec=mycroft-gui-app --hideTextInput --skill=skill-euronews.jarbasskills.home
Icon=euronews.png
Categories=VoiceApp
StartupNotify=false
X-DBUS-StartupType=None
X-KDE-StartupNotify=false
